.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    background-color: #13AAE3;
}
.global, .private {
    margin: 100px auto;
    font-size: calc(10px + 1vw); 
    transition: all 2s;
}
.global p {
    margin-bottom: 20px;
    font-family: 'Bebas Neue';
}
.private p {
    font-family: 'Bebas Neue';
}
#country {
    height: 30px;
    border: 0;
    background-color: #FCE030;
    font-family: 'Bebas Neue';
    font-size: calc(5px + 1vw);
    
}
#country, .button {
    margin: 20px auto;
}
.private {
    height: 30%;
}

.button{
    display: none;
    
}
.button button {
    border: 0;
    height: 30px;
    width: 100px;
    cursor: pointer;
    background-color: #fff;
    /* margin-bottom: 30px; */
    transition: all 2s;
}
.block {
    display: block;
}
.none {
    display: none;
}
.ukraine {
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
}